* {
  margin: 2px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15pt;
}

.navbar {
  background-color: #007BFF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar li {
  display: inline;
  margin-right: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#374045;
  color: white
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #FFD700;
}

.navbar .left {
  margin-left: 20px;
}

.navbar .right {
  margin-right: 20px;
}

/* Custom CSS for registration form container */
.registration-form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-top: 50px;
  color: black;
}

.form-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  margin-top: 20px;
}

.form-group {
  margin: 10px 0;
}

.label {
  display: block;
  font-weight: bold;
  color: #333;
}

.input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-top: 50px;
  color:black
}

.login-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin: 10px 0;
}

.label {
  display: block;
  font-weight: bold;
  color: #333;
}

.input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #0056b3;
}

.registration-link {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.registration-link:hover {
  text-decoration: underline;
}

.blog-list {
  width: 98%;
  /* margin: 0 auto;  */
  padding: 20px;
  background-color: #007BFF;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blog-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 15px;
  color: black;
}

.blog-title {
  font-size: 20pt;
  color: #333;
}

.blog-date {
  color: #888;
  font-size: 15px;
}

.blog-content {
  margin-top: 10px;
  color: #333
}

.blog_image {
  flex: 0 0 auto; /* Prevent the image from expanding */
  margin-right: 10px;
  width:400px;
  height:400px; 
  object-fit: cover;
}

.blog_image:hover {

  transform: scale(1.01); 
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); 
  transform: scale(1.01); 
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); 

}
.blog-creation-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-top: 50px;
  color:#000000
}

.blog-creation-title {
  text-align: center;
}

.blog-creation-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.blog-creation-input,
.blog-creation-textarea {
  width: 80%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.blog-creation-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.blog-creation-button:hover {
  background-color: #0056b3;
}

p{
  margin: 10px 0;
}
button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0074d9; 
  color: white; 
}
button.edit-button {
  background-color: #4caf50;
  color: white;
}
button.delete-button {
  background-color: #f44336; 
  color: white; 
}

.back-link {
  text-decoration: none;
  color: #0074d9; 
  font-weight: bold;
  margin-right: 20px;
}



