* {
  margin: 2px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14pt;
}

.navbar {
  background-color: #007BFF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #FFD700; /* Change the color on hover */
}

.navbar .left {
  margin-left: 20px;
}

.navbar .right {
  margin-right: 20px;
}

/* Custom CSS for registration form container */
.registration-form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-top: 50px;
}

.form-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  margin-top: 20px;
}

.form-group {
  margin: 10px 0;
}

.label {
  display: block;
  font-weight: bold;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 70%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Custom CSS for login container */
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-top: 50px;
}

.login-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin: 10px 0;
}

.label {
  display: block;
  font-weight: bold;
  color: #333;
}

.input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 85%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #0056b3;
}

.registration-link {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.registration-link:hover {
  text-decoration: underline;
}

.blog-list {
  width: 70%;
  margin: 0 auto; 
  padding: 20px;
  background-color: #007BFF;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blog-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 15px;
}

.blog-title {
  font-size: 20pt;
  color: #333;
}

.blog-date {
  color: #888;
  font-size: 15px;
}

.blog-content {
  margin-top: 10px;
  color: #333
}

.blog_image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%; 
  object-fit: contain;
}

.blog-creation-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.blog-creation-title {
  text-align: center;
}

.blog-creation-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.blog-creation-input,
.blog-creation-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.blog-creation-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.blog-creation-button:hover {
  background-color: #0056b3;
}

.about-content {
  text-align: center;
}
